<!doctype html>
<html>
  <head>
    <title>코트 스캐너</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/pikaday.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M0JCSS8NPL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M0JCSS8NPL');
    </script>
  </head>
  <body>
    <h1><a href="/"><img src="/img/logo.svg"> Court Scanner</a></h1> 
    <div>
      <form action="/tennis" method="post">
        <div style="margin-bottom:10px">        
          <label for="court-select">구장 선택 : </label>
          <select id="court-select" name="court">
            <option value="not_selected">구장 선택</option>
            <option value="sajick">사직 테니스장</option>
            <option value="gooduck">구덕 테니스장</option>
            <option value="spoIn">스포원 테니스장 (실내)</option>
            <option value="spoOut">스포원 테니스장 (실외)</option>
          </select>
        </div>
        <div class="dateSelect" style="display:none;margin-bottom:10px" >        
          <label>조회 날짜 :</label>
          <input type="text" id="datepicker" name = "selectedDate" placeholder="클릭" readonly>
          <input type="submit" value="조회 시작">
        </div>
      </form>
    <div style="color:red;">{{error}}</div>
    </div>
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <div id="sajick" class="court" style="display:{{sjDisplay}};">
      <div class="content">
        <h2><a href='https://sajiktennis.kr/html/' target='_blank'>사직 테니스장</a></h2>
        <div class = "row">
          {{#each sajickResult}}
          <div class="col_sj">
            <h3>{{this.courtNum}}번 코트</h3>
            {{#each this.startTimes}}
              <li>{{this}}시</li>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div id="gooduck" class="court" style="display:{{gdDisplay}};">
      <div class="content">
        <h2>구덕 테니스장</h2>
        <div class = "row">
         {{#each gooduckResult}}
          <div class="col_gd">
            <h3><a href='https://reserve.busan.go.kr/rent/view?resveGroupSn=475&progrmSn=289' target='_blank'>1번 코트</a></h3>
            {{#each this.first}}
              <li>{{this}}</li>
            {{/each}}
          </div>
          <div class="col_gd">
            <h3><a href='https://reserve.busan.go.kr/rent/view?resveGroupSn=475&progrmSn=290' target='_blank'>2번 코트</a></h3>
            {{#each this.second}}
              <li>{{this}}</li>
            {{/each}}
          </div>
          <div class="col_gd">
            <h3><a href='https://reserve.busan.go.kr/rent/view?resveGroupSn=475&progrmSn=291' target='_blank'>3번 코트</a></h3>
            {{#each this.third}}
              <li>{{this}}</li>
            {{/each}}
          </div>
          {{/each}}
        </div>             
      </div>
    </div>
    <div id="spoIn" class="court" style="display:{{spInDisplay}};">
      <div class="content">
        <h2><a href='https://nrsv.spo1.or.kr/fmcs/42?center=SPOONE&part=11&place=' target='_blank'></a>스포원 테니스장 (실내)</a></h2>
        <div class = "row">
          {{#each spInResult}}
          <div class="col_sp">
            <h3>{{this.courtNum}}번 코트</h3>
            {{#each this.startTimes}}
              <li>{{this}}시</li>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div id="spoOut" class="court" style="display:{{spOutDisplay}};">
      <div class="content">
        <h2><a href='https://nrsv.spo1.or.kr/fmcs/42?center=SPOONE&part=15&place=' target='_blank'>스포원 테니스장 (실외)</a></h2>
        <div class = "row">
          {{#each spOutResult}}
          <div class="col_sp">
            <h3>{{this.courtNum}}번 코트</h3>
            {{#each this.startTimes}}
              <li>{{this}}시</li>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <!-- JavaScript code to handle dropdown selection -->
    <script>
      const courtSelector = document.getElementById('court-select');
      const courts = document.querySelectorAll(".court");

      const picker = new Pikaday({
        field: document.getElementById('datepicker'),
        format: 'YYYY-MM-DD',
        i18n: {
          previousMonth: '이전달',
          nextMonth: '다음달',
          months: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
          weekdays: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
          weekdaysShort: ['일', '월', '화', '수', '목', '금', '토']
        },
        firstDay:1,
        onSelect: function(date) {
          const formattedDate = moment(date).format('YYYY년 MM월 DD일');
          const input = document.getElementById('datepicker');
          input.value = formattedDate;

          var selectedDate = moment(date).format('YYYY-MM-DD');
          // Extract the year and month components
          var month = moment(date).format('YYYY-MM');
          // Extract the day component
          var day = moment(date).format('DD');
        }
      });

      courtSelector.addEventListener('change', function(event) {
        const selectedCourt = event.target.value;
        courts.forEach(function(court) {
          if (court.id === selectedCourt) {
            court.style.display = "block";
          } else {
            court.style.display = "none";
          }
        });
        switch(selectedCourt){
          case 'sajick':
            var now = moment().utcOffset(9);
            var minDate = now;
            var maxDate = now.clone().add(6, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          case 'gooduck':
            var now = moment().utcOffset(9);
            var minDate = now.clone().add(1, 'days');
            var maxDate = now.clone().add(14, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          case 'spoIn':
            var now = moment().utcOffset(9);
            var minDate = now;
            var maxDate = now.clone().add(8, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          case 'spoOut':
            var now = moment().utcOffset(9);
            var minDate = now;
            var maxDate = now.clone().add(8, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          default :
            document.querySelector(".dateSelect").style.display = 'none';
            break;
        };

        // Update the minDate and maxDate options of the Pikaday instance
        picker.setMinDate(minDate.toDate());
        picker.setMaxDate(maxDate.toDate());
      });
    </script>
    <script>
      // Show the loader when the form is submitted
      document.querySelector('form').addEventListener('submit', function() {

        event.preventDefault(); // prevent the form from submitting

        const selectedDate = document.getElementById('datepicker').value;
        if (selectedDate === '') {
          alert('날짜를 선택해주세요.');
          return;
        }

        document.querySelector('.loader-wrapper').style.display = 'block';
        this.submit(); // submit the form after showing the loader
      });
    </script>
  </body>
</html>
