<!doctype html>
<html>
  <head>
    <title>AKZD 코첵</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/pikaday.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <style>
      /* Hide the loader initially */
      .loader-wrapper {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
      }

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
  </head>
  <body>
    <h1><a href="/" >AKZD Court Check</a></h1> 
    <div>
      <form action="/tennis" method="post">
        <div style="margin-bottom:10px">        
          <label for="court-select">구장 선택 : </label>
          <select id="court-select" name="court">
            <option value="not_selected">구장 선택</option>
            <option value="sajick">사직 테니스장</option>
            <option value="gooduck">구덕 테니스장</option>
            <option value="spoone">스포원 테니스장</option>
          </select>
        </div>
        <div class="dateSelect" style="display:none;margin-bottom:10px" >        
          <label>조회 날짜 :</label>
          <input type="text" id="datepicker" name = "selectedDate" placeholder="클릭">
          <input type="submit" value="조회 시작">
        </div>
      </form>
    <div style="color:red;">{{error}}</div>
    </div>
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>

    <div id="sajick" class="court" style="display:{{sjDisplay}};">
      <div class="content">
        <h2>사직 테니스장</h2>
        <ul>
          {{#each sajickResult}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div id="gooduck" class="court" style="display:{{gdDisplay}};">
      <div class="content">
        <h2>구덕 테니스장</h2>
        <div class = "row">
          <div class="col2_1">
            <h3>1번 코트</h3>
            <ul>
              {{#each gooduckResult1}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col2_1">
            <h3>2번 코트</h3>
            <ul>
              {{#each gooduckResult2}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col2_1">
            <h3>3번 코트</h3>
            <ul>
              {{#each gooduckResult3}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>             
      </div>
    </div>

    <div id="spoone" class="court" style="display:{{spDisplay}};">
      <div class="content">
        <h2>스포원 테니스장</h2>
        <div class ="row">
          <div class="col3_1">
            <h3>실내</h3>
            <ul>
              {{#each sponeResult1}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col3_1">
            <h3>실외</h3>
            <ul>
              {{#each sponeResult2}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript code to handle dropdown selection -->
    <script>
      const courtSelector = document.getElementById('court-select');
      const courts = document.querySelectorAll(".court");

      const picker = new Pikaday({
        field: document.getElementById('datepicker'),
        format: 'YYYY-MM-DD',
        onSelect: function(date) {
          const formattedDate = moment(date).format('YYYY년 MM월 DD일');
          const input = document.getElementById('datepicker');
          input.value = formattedDate;

          var selectedDate = moment(date).format('YYYY-MM-DD');
          // Extract the year and month components
          var month = moment(date).format('YYYY-MM');
          // Extract the day component
          var day = moment(date).format('DD');
        }
      });

      courtSelector.addEventListener('change', function(event) {
        const selectedCourt = event.target.value;
        courts.forEach(function(court) {
          if (court.id === selectedCourt) {
            court.style.display = "block";
          } else {
            court.style.display = "none";
          }
        });
        switch(selectedCourt){
          case 'sajick':
            var now = moment().utcOffset(9);
            var minDate = now;
            var maxDate = now.clone().add(6, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          case 'gooduck':
            var now = moment().utcOffset(9);
            var minDate = now.clone().add(1, 'days');
            var maxDate = now.clone().add(14, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          case 'spoone':
            var now = moment().utcOffset(9);
            var minDate = now;
            var maxDate = now.clone().add(6, 'days');
            document.querySelector(".dateSelect").style.display = 'block';
            break;
          default :
            document.querySelector(".dateSelect").style.display = 'none';
            break;
        };

        // Update the minDate and maxDate options of the Pikaday instance
        picker.setMinDate(minDate.toDate());
        picker.setMaxDate(maxDate.toDate());
      });
    </script>
    <script>
      // Show the loader when the form is submitted
      document.querySelector('form').addEventListener('submit', function() {

        event.preventDefault(); // prevent the form from submitting

        const selectedDate = document.getElementById('datepicker').value;
        if (selectedDate === '') {
          alert('날짜를 선택해주세요.');
          return;
        }

        document.querySelector('.loader-wrapper').style.display = 'block';
        this.submit(); // submit the form after showing the loader
      });
    </script>
  </body>
</html>
