<!doctype html>
<html>
  <head>
    <title>코트 스캐너</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M0JCSS8NPL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M0JCSS8NPL');
    </script>
  </head>
  <body>
    {{!-- <h1><a href="/"><img src="/img/logo.svg"> Court Scanner</a></h1> --}}
    <h1><a href="/">Court Scanner</a></h1> 
    <div style="margin-bottom:10px">
      <button type="button" class="rescan"><a href="/">다시 조회하기</a></button>
    </div>
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <div id="sajick" class="court" style="display:{{sjDisplay}};">
      <div class="content">
        <h2><a href='https://sajiktennis.kr/html/' target='_blank' style="text-decoration:underline">사직 테니스장</a></h2>
        <div class="scanedDate">{{scanedMonth}}월 {{scanedDay}}일 조회 결과</div>
        <div class = "row">
          {{#each sajickResult}}
          <div class="col_sj">
            <h3>{{this.courtNum}}번 코트</h3>
            {{#each this.startTimes}}
              <li>{{this}}시</li>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div id="gooduck" class="court" style="display:{{gdDisplay}};">
      <div class="content">
        <h2>구덕 테니스장</h2>
        <div class="scanedDate">{{scanedMonth}}월 {{scanedDay}}일 조회 결과</div>
        <div class = "row">
         {{#each gooduckResult}}
          <div class="col_gd">
            <h3><a href='https://reserve.busan.go.kr/rent/view?resveGroupSn=475&progrmSn=289' target='_blank'style="text-decoration:underline">1번 코트</a></h3>
            {{#each this.first}}
              <li>{{this}}</li>
            {{/each}}
          </div>
          <div class="col_gd">
            <h3><a href='https://reserve.busan.go.kr/rent/view?resveGroupSn=475&progrmSn=290' target='_blank'style="text-decoration:underline">2번 코트</a></h3>
            {{#each this.second}}
              <li>{{this}}</li>
            {{/each}}
          </div>
          <div class="col_gd">
            <h3><a href='https://reserve.busan.go.kr/rent/view?resveGroupSn=475&progrmSn=291' target='_blank'style="text-decoration:underline">3번 코트</a></h3>
            {{#each this.third}}
              <li>{{this}}</li>
            {{/each}}
          </div>
          {{/each}}
        </div>             
      </div>
    </div>
    <div id="spoIn" class="court" style="display:{{spInDisplay}};">
      <div class="content">
        <h2><a href='https://nrsv.spo1.or.kr/fmcs/42?center=SPOONE&part=11&place=' target='_blank' style="text-decoration:underline">스포원 테니스장 (실내)</a></h2>
        <div class="scanedDate">{{scanedMonth}}월 {{scanedDay}}일 조회 결과</div>
        <div class = "row">
          {{#each spInResult}}
          <div class="col_sp">
            <h3>{{this.courtNum}}번 코트</h3>
            {{#each this.startTimes}}
              <li>{{this}}시</li>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div id="spoOut" class="court" style="display:{{spOutDisplay}};">
      <div class="content">
        <h2><a href='https://nrsv.spo1.or.kr/fmcs/42?center=SPOONE&part=15&place=' target='_blank' style="text-decoration:underline">스포원 테니스장 (실외)</a></h2>
        <div class="scanedDate">{{scanedMonth}}월 {{scanedDay}}일 조회 결과</div>
        <div class = "row">
          {{#each spOutResult}}
          <div class="col_sp">
            <h3>{{this.courtNum}}번 코트</h3>
            {{#each this.startTimes}}
              <li>{{this}}시</li>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>
